{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [cider/cider-nrepl "0.18.0"]
                [reagent "0.8.1"]
                [cljs-ajax "0.7.5"]
                [alandipert/storage-atom "1.2.4"]
                [secretary "1.2.3"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [app.core]}}

        :devtools
        {:after-load app.core/main
         :http-root   "public"
         :http-port   3000}}}}
